body{
    padding: 0;
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height:100vh;
    background: #ecf4fa;
}

.container{
    width:40%;
    height:60vh;
    padding:10px;
    border-radius: 8px;
    box-shadow: 12px 12px 20px #cbced1,
            -12px -12px 20px #ffffff;


}

.display #screen{
    width:95%;
    height:70px;
    font-size: 35px;
    outline:none;
    border:none;
    text-align:right;
    padding:0.5em;
    background:#ecf0f3;
    border-radius:6px;
    box-shadow:inset 8px 8px 8px #cbced1,
               inset -8px -8px 8px #cbced1;
}

.btns{
    width:100%;
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}

.btns .row button{
    width:80px;
    height:42px;
    font-size:16px;
    border:none;
    outline:none;
    margin:5px;
    border-radius: 4px;
    box-shadow:5px 5px 8px #00000020,
              -5px -5px 8px #ffffffff; 
    
}

.btns .row button:hover{
    box-shadow: inset 5px 5px 8px rgba(16,16,16,0.1),
                inset -5px -5px 8px #fff;
                background:#fff;
                transition: 0.1s;

}

#eval{
    background-color: rgb(20, 42, 170);
    color: #fff;
}
#eval:hover{
    box-shadow: inset rgb(20,42,170);
}

#ac{
    background: rgb(0, 228, 0);
    color:#fff;
}
#ac:hover{
    box-shadow: inset rgb(0, 228, 0);
}

#ce{
    background-color: rgb(255, 1, 94);
    color:#fff;
}
#ce:hover{
    box-shadow: inset rgb(255,1,94);
}